/* main header */
.main-header{
  background-color: #fff;
  min-width: 1024px;
  +.navigation{
    border-top: solid 4px #2b5977;
  }
}
.main-header__logo{
  float: left;
  margin: 0;
  padding: 35px 0 0 30px;

  img {
    width: 396px;
    height: auto;
  }
}
.main-header__right-side{
  float: right;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li{
    display: inline-block;
    border-left: 1px solid #e3e3e3;
    padding: 45px 30px;
    min-height: 150px;
    color: #003a5f;
    text-transform: lowercase;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    &:first-child{
      border: none;
    }
    i{
      display: block;
      margin-bottom: 5px;
    }
    strong{
      font-weight: $medium;
      font-size: 24px;
      text-align: right;
    }
    a{
      color: #003a5f;
    }
  }
}
.main-header__country-dropdown{
  text-align: right;
  line-height: 1;
  span{
    position: relative;
    padding-right: 30px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;

    &:after{
      content: '';
      position: absolute;
      top: 2px;
      right: 0;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 12px solid #003b5f;
    }
  }
}

/* navigation */
.navigation{
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  nav>ul>li{
    &:hover>a,
    &.active>a{
      border-color: #003b60;
    }
  }
  ul{
    list-style: none;
    padding: 0;
  }
  li{
    float: left;
    text-transform: uppercase;
    position: relative;
    margin: 0;
    font-size: 16px;
    margin-left: 50px;
    &:first-child{
      margin-left: 0;
    }
  }
  a{
    color: #003a5e;
    display: block;
    padding: 35px 0;
    border-bottom: 5px solid transparent;
  }

  /*sub menu*/
  li ul {
    margin: 0;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgba(255,255,255,1);
    width: 170px;
    z-index: -11;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border: 1px solid #E0E0E0;
    text-align: left
  }
  li ul li {
    font-size: 12px!important;
    margin: 0!important;
    display: block;
    border: none;
    height: auto;
    float: none!important;
    padding: 0!important;
    display: block!important;
  }
  li ul li a {
    color: #1A1A1A;
    padding: 8px 15px;
    display: block;
  }
  li ul li:hover a{background-color: #f7f7f7}
  ul li:hover ul{
    visibility: visible;
    opacity: 1;
    z-index: 999;
  }

  /* for responsive */
  .navbar-header{
    display: none!important;
  }
  .collapse{
    display: block!important;
  }
}
