@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.0.6/css/all.css");
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/GothamLight.eot");
  src: url("../fonts/GothamLight.eot") format("embedded-opentype"), url("../fonts/GothamLight.woff2") format("woff2"), url("../fonts/GothamLight.woff") format("woff"), url("../fonts/GothamLight.ttf") format("truetype"), url("../fonts/GothamLight.svg#GothamLight") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/GothamMediumRegular.eot");
  src: url("../fonts/GothamMediumRegular.eot") format("embedded-opentype"), url("../fonts/GothamMediumRegular.woff2") format("woff2"), url("../fonts/GothamMediumRegular.woff") format("woff"), url("../fonts/GothamMediumRegular.ttf") format("truetype"), url("../fonts/GothamMediumRegular.svg#GothamMediumRegular") format("svg");
  font-weight: 500;
  font-style: normal; }
html {
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: Gotham, sans-serif;
  color: #888888;
  line-height: 1.45;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  font-weight: 300;
  background-color: #f7f7f7;
  min-width: 1200px; }

a {
  color: #003a5f;
  text-decoration: none;
  text-decoration: none;
  transition: all 0.4s ease-in-out; }
  a:hover {
    text-decoration: none;
    color: #2c6c93; }
  a:focus {
    text-decoration: none;
    outline: none;
    color: inherit; }

ul {
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

p {
  margin: 0 0 35px;
  line-height: 28px; }

h1,
h2,
h3,
h4 {
  margin: 0 0 25px;
  padding: 0;
  font-weight: 400;
  font-family: Century, sans-serif; }

strong {
  font-weight: 600; }

.container,
.container-fluid {
  min-width: 1200px;
  padding: 0 10px;
  width: 1200px !important; }

.row {
  margin: 0 -10px; }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4,
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10,
.col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12,
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
.col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3,
.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 10px;
  padding-right: 10px; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8,
.col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.dropdown:hover .dropdown-menu {
  display: block; }

.checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #003b60;
  font-weight: 300;
  min-height: 20px; }

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 1px; }

.checkbox:hover input ~ .checkmark {
  background-color: #fff; }

.checkbox input:checked ~ .checkmark {
  background-color: #fff;
  border-color: #003b60; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.checkbox input:checked ~ .checkmark:after {
  display: block; }

.checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #003b60;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8,
.col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15 {
  float: left; }

.col-1 {
  width: 6.66666667%; }

.col-2 {
  width: 13.33333333%; }

.col-3 {
  width: 20%; }

.col-4 {
  width: 26.66666667%; }

.col-5 {
  width: 33.33333333%; }

.col-6 {
  width: 40%; }

.col-7 {
  width: 46.66666667%; }

.col-8 {
  width: 53.33333333%; }

.col-9 {
  width: 60%; }

.col-10 {
  width: 66.66666667%; }

.col-11 {
  width: 73.3333333%; }

.col-12 {
  width: 80%; }

.col-13 {
  width: 86.66666667%; }

.col-14 {
  width: 93.3333333%; }

.col-15 {
  width: 100%; }

.breadcrumb-bottom {
  background-color: #e4e4e4;
  position: relative; }
  .breadcrumb-bottom:before {
    content: '';
    background-color: #c4c4c4;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    display: block; }
  .breadcrumb-bottom .container {
    position: relative;
    z-index: 9;
    background-color: #e4e4e4; }
    .breadcrumb-bottom .container:before {
      content: '';
      background-color: #c4c4c4;
      position: absolute;
      top: 0;
      left: 0;
      width: 7%;
      height: 100%;
      z-index: -1;
      display: block; }
  .breadcrumb-bottom ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .breadcrumb-bottom li {
    display: inline-block;
    color: #888888;
    font-size: 14px;
    padding: 16px 20px;
    background-color: #d3d3d3;
    height: 55px; }
    .breadcrumb-bottom li:first-child {
      background-color: transparent; }
    .breadcrumb-bottom li.active {
      background-color: transparent; }
  .breadcrumb-bottom a {
    color: #888888;
    display: block; }

/*select field*/
.btn-default, .btn-default:hover, .btn-default:active {
  color: #0f0f0f;
  background-color: #fff;
  border-color: #d0d4d9;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  color: #0f0f0f;
  background-color: #fff;
  border-color: #d0d4d9;
  box-shadow: 0 0 0; }

.bootstrap-select .btn {
  padding: 10px 25px 10px 10px;
  font-size: 14px; }
  .bootstrap-select .btn:focus {
    outline: none !important; }

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%; }

/*repeated classes*/
.button {
  display: inline-block;
  text-decoration: none;
  outline: 0;
  border-radius: 5px;
  background-color: rgba(235, 240, 242, 0.7);
  border: 1px solid #3291a9;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #6a90a5;
  padding: 14px;
  cursor: pointer;
  text-transform: uppercase;
  min-width: 195px;
  font-size: 13px;
  line-height: 1; }
  .button:hover {
    color: #6a90a5; }
  .button:active, .button:focus {
    outline: none;
    color: #6a90a5; }
  .button:active {
    position: relative;
    top: 1px; }
  .button--white {
    background-color: #ebf0f2; }
  .button--trans {
    background-color: transparent;
    color: #003b60 !important;
    border-color: #003a5e; }
  .button--lg-text {
    font-size: 20px;
    text-transform: capitalize; }

.dropdown-menu {
  background-color: #fff;
  color: #555555;
  border-color: #d0d4d9;
  border-radius: 3px; }
  .dropdown-menu li {
    padding: 0; }
  .dropdown-menu a {
    color: #555555;
    display: block;
    padding: 5px; }
    .dropdown-menu a:hover {
      color: #000; }

.dropdown-menu.open.show .dropdown-menu {
  display: block; }

/* main header */
.main-header {
  background-color: #fff;
  min-width: 1170px; }
  .main-header + .navigation {
    border-top: solid 4px #2b5977; }

.main-header__logo {
  float: left;
  margin: 0;
  padding: 35px 0 0 30px; }

.main-header__right-side {
  float: right; }
  .main-header__right-side ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .main-header__right-side li {
    display: inline-block;
    border-left: 1px solid #e3e3e3;
    padding: 45px 30px;
    min-height: 150px;
    color: #003a5f;
    text-transform: lowercase;
    text-align: center;
    font-size: 20px;
    vertical-align: middle; }
    .main-header__right-side li:first-child {
      border: none; }
    .main-header__right-side li i {
      display: block;
      margin-bottom: 5px; }
    .main-header__right-side li strong {
      font-weight: 500;
      font-size: 24px;
      text-align: right;
      padding-right: 25px; }
    .main-header__right-side li a {
      color: #003a5f; }

.main-header__country-dropdown {
  text-align: right;
  line-height: 1; }
  .main-header__country-dropdown span {
    position: relative;
    padding-right: 30px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer; }
    .main-header__country-dropdown span:after {
      content: '';
      position: absolute;
      top: 2px;
      right: 0;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 12px solid #003b5f; }

/* navigation */
.navigation {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  /*sub menu*/
  /* for responsive */ }
  .navigation nav > ul > li:hover > a, .navigation nav > ul > li.active > a {
    border-color: #003b60; }
  .navigation ul {
    list-style: none;
    padding: 0; }
  .navigation li {
    float: left;
    text-transform: uppercase;
    position: relative;
    margin: 0;
    font-size: 16px;
    margin-left: 60px; }
    .navigation li:first-child {
      margin-left: 0; }
  .navigation a {
    color: #003a5e;
    display: block;
    padding: 35px 0;
    border-bottom: 5px solid transparent; }
  .navigation li ul {
    margin: 0;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: white;
    width: 170px;
    z-index: -11;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border: 1px solid #E0E0E0;
    text-align: left; }
  .navigation li ul li {
    font-size: 12px !important;
    margin: 0 !important;
    display: block;
    border: none;
    height: auto;
    float: none !important;
    padding: 0 !important;
    display: block !important; }
  .navigation li ul li a {
    color: #1A1A1A;
    padding: 8px 15px;
    display: block; }
  .navigation li ul li:hover a {
    background-color: #f7f7f7; }
  .navigation ul li:hover ul {
    visibility: visible;
    opacity: 1;
    z-index: 999; }
  .navigation .navbar-header {
    display: none !important; }
  .navigation .collapse {
    display: block !important; }

.big-footer {
  padding: 80px 0 75px;
  background: url("../images/pattern1.jpg") left top repeat; }
  .big-footer__widget {
    font-size: 14px;
    float: right; }
    .big-footer__widget figure {
      margin-bottom: 20px; }
    .big-footer__widget ul, .big-footer__widget a {
      color: #ebf0f2; }
    .big-footer__widget ul {
      list-style: none;
      padding: 0; }
    .big-footer__widget li {
      position: relative;
      padding-left: 70px;
      margin-bottom: 4px; }
      .big-footer__widget li span {
        position: absolute;
        left: 0;
        top: 0; }
    .big-footer__widget a:hover, .big-footer__widget a:focus {
      text-decoration: underline; }
    .big-footer__widget h4 {
      font-family: Gotham, sans-serif;
      font-weight: 300;
      font-size: 30px;
      color: #6b96a8;
      margin: 13px 0 20px; }
  .big-footer--location p {
    color: #ebf0f2; }
  .big-footer [class*='col-']:first-child .big-footer__widget {
    max-width: 542px;
    float: left; }

.legal-footer {
  font-size: 12px;
  color: #7f7f7f;
  padding: 22px 0 18px;
  background-color: #363636; }
  .legal-footer p {
    margin-bottom: 0; }
  .legal-footer__widget a {
    color: #7f7f7f;
    margin-left: 30px;
    transition: 0.1s all linear; }
    .legal-footer__widget a:first-child {
      margin-left: 0; }
    .legal-footer__widget a:hover, .legal-footer__widget a:focus {
      color: #ebf0f2; }
  .legal-footer--right {
    text-align: right; }

input,
select,
textarea {
  font: 15px Gotham, sans-serif;
  font-weight: 300;
  outline: none;
  color: #1a1a1a;
  display: block;
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  background-color: #ffffff;
  border: solid 2px #d0d4d9;
  height: auto;
  line-height: normal; }
  input:focus,
  select:focus,
  textarea:focus {
    border-color: #222323; }

input.error,
textarea.error {
  border-color: #FE2B4A; }

/*submit field*/
input[type='submit'],
.submit-btn {
  display: block;
  background-color: #2677C6;
  font-size: 14px;
  color: #fff;
  border: 1px solid #1562AD;
  text-transform: capitalize;
  cursor: pointer;
  padding: 12px 15px 12px;
  font-weight: 700;
  outline: none;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 0 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 1px; }

input[type='submit']:hover {
  background-color: #2677C6; }

input[type='submit']:active {
  background-color: #2677C6;
  position: relative;
  top: 1px; }

textarea {
  height: 150px;
  resize: vertical; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #7a7d7f; }

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #1a1a1a; }

.form-control {
  border-color: #d7d7d7;
  height: 38px;
  border-radius: 1px;
  box-shadow: none; }
  .form-control:focus {
    border-color: #86aac8;
    box-shadow: none; }

.btn-submit {
  line-height: 1;
  padding: 0;
  border: none;
  background-color: transparent; }

/* about */
.about-col {
  padding-left: 30px; }
  .about-col h1 {
    font-size: 54px;
    color: #003b60; }
  .about-col h3 {
    color: #6c94b4;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 35px; }

.about-section .news-list__item p {
  margin-bottom: 10px;
  color: #6a90a5; }
.about-section .news-list__item .text-right a {
  color: #6a90a5;
  font-size: 17px;
  font-family: Cambria, Georgia, serif;
  font-style: italic; }

/* people-section */
.people-section {
  margin-bottom: 50px; }
  .people-section .author-block {
    width: 140px;
    height: 140px;
    margin: 0 0 20px; }
  .people-section .sidebar h1 {
    font-size: 54px;
    color: #003b60;
    font-weight: 400;
    margin: 0 0 5px; }
  .people-section .sidebar h4 {
    font-size: 20px;
    color: #6c94b4;
    font-weight: 400;
    margin-bottom: 30px; }
  .people-section .sidebar h5 {
    font-size: 32px;
    color: #003b60;
    font-weight: 400;
    font-family: Century, sans-serif;
    padding: 20px 0 20px;
    margin: 0; }
  .people-section .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .people-section .sidebar li {
    font-size: 18px;
    color: #003b5e;
    margin-bottom: 10px; }
  .people-section .left-col {
    padding-left: 30px; }
    .people-section .left-col h2 {
      color: #003b60;
      font-size: 20px;
      background: url("../../assets/images/link-icon.png") no-repeat 0 2px;
      padding-left: 35px;
      min-height: 30px;
      background-size: 25px;
      text-transform: capitalize; }

.info-box {
  margin-bottom: 20px;
  color: #005999; }
  .info-box i,
  .info-box span {
    display: inline-block;
    vertical-align: middle; }
  .info-box i {
    margin-right: 10px; }
  .info-box a {
    color: #005999; }

.publications--box {
  background-color: transparent !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
  margin-bottom: 20px; }

.people-banner {
  background-image: url("../../assets/images/people-banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .people-banner .container {
    position: relative; }
  .people-banner .pull-right {
    width: 60%; }
  .people-banner__info {
    position: absolute;
    left: 100px;
    bottom: 20px; }
  .people-banner h1 {
    color: #fff;
    font-size: 64px;
    margin: 0 0 10px; }
  .people-banner h4 {
    font-size: 27px;
    color: #7785a7;
    font-family: Gotham, sans-serif;
    font-weight: 300; }

.team-section h2 {
  font-size: 54px;
  color: #003b60; }
.team-section__row {
  border-top: 1px solid #b7b7b7;
  padding-top: 30px;
  margin-bottom: 10px; }
.team-section h3 {
  color: #96b0cc;
  font-size: 48px;
  font-style: italic; }
.team-section h4 {
  margin: 0;
  font-size: 30px;
  color: #003b60;
  text-transform: capitalize; }
.team-section h5 {
  font-size: 20px;
  color: #6c94b4;
  font-family: Century, sans-serif;
  font-weight: 300;
  margin-bottom: 30px; }
.team-section__more-link {
  background-color: #e5eaef;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  font-family: Century, sans-serif;
  font-size: 14px;
  font-style: italic;
  text-transform: capitalize; }
.team-section .equalHeight {
  margin-bottom: 50px; }

/* hero banner */
.hero-banner {
  background-image: url("../../assets/images/pattern-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
  .hero-banner:after {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-image: url("../../assets/images/img-1.png");
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    width: 700px; }
  .hero-banner .container {
    position: relative;
    height: 100%; }

.hero-banner__left {
  padding: 80px 0; }
  .hero-banner__left h2 {
    font-size: 48px;
    color: #fff;
    font-family: Adobe Caslon Pro, sans-serif; }
  .hero-banner__left ul {
    list-style: none;
    margin: 0;
    padding: 30px 0 0;
    max-width: 430px; }
  .hero-banner__left li {
    padding-left: 80px;
    margin-bottom: 20px; }
  .hero-banner__left a {
    position: relative;
    color: #fff;
    font-size: 24px;
    border-bottom: 1px solid #264f67;
    display: block;
    padding: 0 60px 20px 0; }
    .hero-banner__left a:after {
      background-image: url("../../assets/images/right-arrow.png");
      background-repeat: no-repeat;
      width: 14px;
      height: 26px;
      display: block;
      content: '';
      position: absolute;
      right: 10px;
      top: 0; }
  .hero-banner__left img {
    position: absolute;
    left: -80px;
    top: 0; }

.content {
  padding: 60px 0 0; }

/* services */
.services {
  padding-bottom: 50px; }
  .services figure {
    margin-bottom: 20px; }
  .services h2 {
    font-size: 24px;
    color: #164f92;
    font-family: Gotham, sans-serif;
    font-weight: 300; }
  .services p {
    font-size: 14px;
    color: #888888; }
  .services .equalHeight {
    margin-bottom: 40px; }

/* announce */
.announce {
  background-image: url("../../assets/images/pattern-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 288px; }
  .announce:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 328px;
    background-image: url("../../assets/images/img-2.png");
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    width: 588px; }

.announce__col {
  float: right;
  width: 50%;
  color: #fff;
  padding: 40px 0; }
  .announce__col h2 {
    font-size: 36px;
    font-family: Adobe Caslon Pro, sans-serif;
    font-weight: 400;
    margin: 0; }
  .announce__col .date {
    font-size: 14px;
    display: block;
    margin-bottom: 20px; }
  .announce__col p {
    font-size: 16px; }
  .announce__col .button {
    border-color: #3291a9; }

/* article-section */
.article-section {
  padding: 150px 0 25px;
  background-color: #f7f7f7; }
  .article-section__popular {
    background-color: #ffffff;
    border-radius: 4px;
    margin-right: 8px;
    box-shadow: 0px 0px 5px 0px rgba(148, 148, 148, 0.3); }
    .article-section__popular header, .article-section__popular .link, .article-section__popular footer {
      padding: 17px 22px; }
    .article-section__popular header, .article-section__popular .link {
      border-bottom: solid 1px rgba(148, 148, 148, 0.5); }
    .article-section__popular header {
      color: #003b5e;
      font-family: Cambria, Georgia, serif;
      background: url("../../assets/images/patterns/pattern1.jpg") top left repeat-y;
      border-radius: 4px 4px 0 0; }
      .article-section__popular header h3 {
        margin-bottom: 0;
        background: url("../../assets/images/icons/bulb-copy.png") top left no-repeat;
        padding-left: 35px;
        min-height: 34px;
        padding-top: 2px; }
    .article-section__popular .link h4 {
      font-size: 16px;
      font-family: Gotham, sans-serif;
      font-weight: 300;
      margin-bottom: 7px; }
      .article-section__popular .link h4:last-child {
        margin-bottom: 0; }
    .article-section__popular .link a {
      color: #1d6693;
      transition: 0.1s all linear; }
      .article-section__popular .link a:hover, .article-section__popular .link a:focus {
        color: #555; }
    .article-section__popular .link p {
      font-size: 11px;
      margin-bottom: 0; }
    .article-section__popular ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    .article-section__popular li {
      border-bottom: 1px solid #d1d1d1;
      font-size: 14px; }
      .article-section__popular li a {
        display: block;
        padding: 20px;
        color: #2c6c93;
        position: relative; }
        .article-section__popular li a:before {
          content: '';
          display: block;
          background-color: #a6bbc8;
          height: 0;
          width: 5px;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: all 0.4s ease-in-out; }
      .article-section__popular li:hover a:before, .article-section__popular li.active a:before {
        height: 100%; }
    .article-section__popular footer {
      text-align: right;
      background-color: #ebf0f2;
      border-radius: 0 0 4px 4px; }
      .article-section__popular footer p {
        font-size: 17px;
        font-family: Cambria, Georgia, serif;
        font-style: italic;
        margin-bottom: 0; }
      .article-section__popular footer a {
        color: #1d5e84;
        transition: 0.1s all linear; }
        .article-section__popular footer a:hover, .article-section__popular footer a:focus {
          color: #143a50; }
  .article-section__list {
    padding-left: 40px;
    padding-right: 8px; }
  .article-section__article {
    margin-bottom: 65px; }
    .article-section__article header {
      position: relative;
      padding-right: 100px;
      margin-bottom: 20px; }
      .article-section__article header h2 {
        font-size: 39px;
        font-family: Cambria, Georgia, serif;
        margin-bottom: 15px;
        font-weight: 300; }
      .article-section__article header a {
        color: #6a90a5;
        transition: 0.1s all linear; }
        .article-section__article header a:hover, .article-section__article header a:focus {
          color: #387799; }
      .article-section__article header h3 {
        padding-bottom: 0;
        font-weight: 300;
        font-family: Cambria, Georgia, serif;
        color: #003b5f; }
      .article-section__article header .author-block {
        position: absolute;
        top: 0;
        right: 0;
        width: 70px;
        height: 70px; }
        .article-section__article header .author-block__photo {
          margin-bottom: 2px; }
        .article-section__article header .author-block__name {
          font-size: 12px;
          position: absolute;
          top: 75px;
          left: 0; }
      .article-section__article header .pull-left img {
        display: block; }
      .article-section__article header .pull-left .author-name {
        font-size: 20px;
        color: #003b5f;
        display: block; }
    .article-section__article figure {
      font-size: 12px;
      display: inline-block;
      text-align: center; }
      .article-section__article figure img {
        margin-bottom: 4px; }
    .article-section__article .pull-left {
      width: 80%; }
    .article-section__article .pull-right {
      width: 20%;
      text-align: right; }
    .article-section__article .content-wrap {
      font-size: 16px;
      line-height: 1.9; }
      .article-section__article .content-wrap p {
        margin-bottom: 22px; }
        .article-section__article .content-wrap p:last-child {
          margin-bottom: 0; }

.page-title {
  color: #003b60;
  padding: 17px 0 58px; }
  .page-title h2 {
    font-size: 48px;
    margin-bottom: 0; }

.relative {
  position: relative; }

.filter-block--content-wrap {
  padding: 16px 120px 30px 26px;
  background-color: #ffffff;
  border: solid 1px #f1f1f1;
  border-radius: 4px;
  position: relative; }
  .filter-block--content-wrap:after {
    content: '';
    background-image: url(../../assets/images/filter-icon.png);
    background-repeat: no-repeat;
    width: 103px;
    height: 102px;
    display: block;
    position: absolute;
    top: 0;
    right: 0; }
.filter-block .row {
  margin: 0 -20px; }
.filter-block [class*='col-'] {
  padding: 0 20px; }
.filter-block h5 {
  font-size: 18px;
  color: #003b60;
  font-family: Century, sans-serif;
  margin: 0 0 13px; }
.filter-block__search .form-control {
  padding-right: 45px; }
.filter-block__search button {
  position: absolute;
  top: 8px;
  right: 18px; }

.tag-list__item {
  font-size: 15px;
  line-height: 1;
  display: inline-block;
  color: #ffffff;
  padding: 5px 11px 5px 13px;
  background-color: #b9bbbd;
  border-radius: 4px;
  margin: 0 5px 5px 0; }
  .tag-list__item:hover, .tag-list__item:focus {
    color: #ffffff;
    opacity: .9; }
  .tag-list__item--orange {
    background-color: #e3947a; }
  .tag-list__item--lightgreen {
    background-color: #c9b75f; }
  .tag-list__item--purple {
    background-color: #ac6390; }
  .tag-list__item--lightblue {
    background-color: #6a90a5; }
  .tag-list__item--darkgreen {
    background-color: #909c7a; }
  .tag-list__item--darkblue {
    background-color: #0f4769; }
  .tag-list__item--gray {
    background-color: #b9bbbd; }
.tag-list--small .tag-list__item {
  font-size: 12px;
  padding: 4px 10px; }

.news-list {
  padding: 40px 0; }
  .news-list .container {
    padding: 0 14px; }
  .news-list .row {
    margin: 0 -14px; }
  .news-list [class*='col-'] {
    padding: 0 14px; }
  .news-list__item {
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 45px;
    box-shadow: 0px 0px 10px 0px rgba(173, 173, 173, 0.5); }
    .news-list__item figure {
      overflow: hidden; }
      .news-list__item figure img {
        border-radius: 4px 4px 0 0;
        transition: 0.5s all linear; }
    .news-list__item__text {
      padding: 18px 26px;
      border-radius: 0 0 4px 4px; }
      .news-list__item__text h1 {
        font-size: 20px;
        line-height: 1.4;
        font-family: Adobe Caslon Pro, sans-serif;
        margin-bottom: 4px; }
        .news-list__item__text h1 a {
          color: #1e4e6a;
          display: inline-block;
          transition: 0.1s all linear; }
          .news-list__item__text h1 a:hover, .news-list__item__text h1 a:focus {
            color: #86aac8; }
      .news-list__item__text h6 {
        font-size: 11px;
        margin: 0 0 14px; }
      .news-list__item__text p {
        font-size: 14px;
        margin-bottom: 20px;
        line-height: 22px; }
    .news-list__item--date, .news-list__item--category {
      text-transform: uppercase; }
    .news-list__item--date {
      color: #86aac8; }
    .news-list__item--author, .news-list__item--author a {
      color: #155f7d; }
    .news-list__item--author a:hover {
      text-decoration: underline; }
    .news-list__item--category:before {
      content: '|';
      margin: 0 2px 0 1px; }
    .news-list__item:hover figure img {
      transition: 2s all linear;
      transform: scale(1.1, 1.1); }
  .news-list .button {
    margin: 20px auto 0;
    display: block;
    width: 200px; }

.article-banner {
  margin-bottom: 50px; }

.article-details-section {
  margin-bottom: 50px; }

.author-block {
  width: 145px;
  margin: 0 auto; }
  .author-block__name {
    font-size: 20px;
    color: #003b5f;
    font-family: Century, sans-serif;
    display: block;
    text-align: center; }
  .author-block__photo {
    background-color: #c6d1d8;
    padding: 3px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 0 auto 10px; }
    .author-block__photo img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover; }

.article-post h1 {
  font-family: Adobe Caslon Pro, sans-serif;
  color: #1e4e6a;
  font-size: 38px;
  font-weight: 400; }
.article-post .filter-block__type {
  margin-bottom: 30px; }
.article-post p {
  padding-bottom: 30px;
  line-height: 30px; }
.article-post__more {
  font-size: 20px;
  font-family: Century, sans-serif;
  margin-bottom: 20px; }
  .article-post__more img,
  .article-post__more span {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle; }

.recent-article {
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(148, 148, 148, 0.3);
  border-radius: 2px;
  padding: 20px;
  margin-bottom: 20px; }
  .recent-article h3 {
    font-size: 28px;
    color: #6a90a5; }
  .recent-article ul {
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0; }
  .recent-article li {
    margin-bottom: 15px; }
  .recent-article a {
    color: #3c627c;
    border-bottom: 2px solid #afbbc4;
    margin-left: 40px;
    position: relative; }
    .recent-article a:after {
      content: '';
      background-image: url("../../assets/images/news-icon.png");
      background-repeat: no-repeat;
      width: 23px;
      height: 22px;
      display: block;
      position: absolute;
      top: 0;
      left: -40px; }
